body /* Tag selector */ { 
    background-color: paleturquoise;
}




/* More specific than just li */
ul li /* Ancestor selector */ {
    color:black;
    
}

/* Not very specific at all, so this just picks up the li's unaffected by the styles above */
li /* Tag selector */ {
    color: purple;
}

/* Inheritance: style data is applied to an element *and* to all its descendants */
.deep /* Class selector */ {
    background-color: plum;
}

/* Inheritance: descendants can override inherited values */
.contemp /* Class selector */ {
    color: palevioletred;
}

/* Inheritance: descendants can override inherited values */
.fantasy /* Class selector */ {
    color: red;
}

.dystopian {
    color: gray;
}

.steampunk {
    color: brown;
    vertical-align: bottom;
    line-height: normal;
}

.science {
    color: blue;
    float: right;
}

.quote {
    font-family: "Courier", monospace;
    text-decoration: underline;
    
}


/* Font Style */
.booktitle {
    font-style: italic;
}


/* Make outlines */
.outline {
    list-style-type: upper-roman;
    display: inline;
}


.newspaper {
    column-width: 25em;
    column-rule-width: thin;
    column-rule-style: solid;
    column-rule-color: grey;
}

.post {
    position: absolute;
    top: 0;
    left: 7em;
    display: none;
}
